* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    font-size: larger; 
    color: #2b0429;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(169, 237, 237);
    margin-right: 10px;
}

#eslogan{
    background-color: rgb(129, 26, 158); 
    color: #f1f1f1;
    font-size:large;
}

#es{
    background-color: rgb(213, 237, 156); 
    color:black; 
    font-size:large;
}

#sub{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(221, 176, 149);
    margin-right: 10px;
}

body {
    background-image: url("../img/hd.webp");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    height: 200%;
    width: 100%;
    object-fit: cover;
}

.header {
    background-image: url("../img/fondo.webp");
    background-size: cover;
    background-position: center;
    width: 100%;
    object-fit: cover; 
}

.products td {
    width: 30%;
    padding: 1em;
}

.products img {
    width: 70%;
    height: 40%;
    border: solid 1px #ddd;
}

.footer {
    height: 3em;
    line-height: 3em;
    background-color: rgb(90, 199, 219);
    color: rgb(33, 4, 33);
    text-align: center;
    font-weight: 900;
}